.btns {
    width: 165px;
    height: 49px;
    background: #D23166;
    border-radius: 5px;
    border: none;
    font-family: 'Hind Madurai';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #FAFAFA;
    transition: all 0.5s;
    &:hover {
        box-shadow:  10px 10px 20px rgba(210, 49, 102, 0.6);
        transform: translate(2px, 2px);
    }
}

@media (max-width: 576px) {
    .btns {
        width: 145px;
        height: 39px;
    }
}